<h2>Update your profile</h2>

<%= form_for (@user)  do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :department %> <br />
    <%= f.text_field :department, class:'form-control',autocomplete:"department"  %>
  </div>

  <div class="field">
    <%= f.label :Major %><br />
    <%= f.text_field :major,class:'form-control', autocomplete:"major" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password,  autocomplete: "current-password" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Update",  class: "btn btn-primary" %>
  </div>

<% end %>

<div>
<p><%= link_to "Back", :back %> </p>
<p style = "text-align: right"><font size="2" color="#1c87c9"><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></font>
</p>
</div>

