

<% provide(:title, 'User')%>

<main role="main" class="container">
<h1> <%= @user.name%> </h1>
<% if !@user.deleted_at%>
    
<div id="left">
  <%= image_tag("1200px-Memphis_Tigers_logo.svg.png", :size => "240x200", :alt => "Memphis Tiger Logo") %>
    <a class="btn btn-primary" href="#" data-toggle="modal" style="width: 200px;" data-target="#myModal">Message Seller</a>
<%= render partial: "messages/send_message_modal", locals: { message: @message, user: @user } %>
</div>

<div id="right">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="true">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
        aria-selected="false">Review</a>
    </li>
    
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div>
        <br>
        <p>
            <b>Name:</b> <%= @user.name %>
        </p>
        <p>
            <b>Department:</b> <%= @user.department %>
        </p>
        <p>
            <b>Major:</b> <%= @user.major %>
        </p>  
        <p>
            <b>Email:</b> <%= @user.email %>
        </p>
      </div>
    </div>

    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
      <p><table class="table table-sm">
        <thead>

         <tr>
           <th scope="col">Item</th>
           <th scope="col">Review</th>
				   <th scope="col">Buyer</th>
         </tr>
        </thead>
        <tbody>
          <% @user.reviews.each do |review|%>
            <tr>
              <td>
                <% begin %>
                <% @item = Item.find(review.product)%>
                <%= @item.title %>
                <% rescue %>
                Associated item has been deleted.
                <% end %>
              </td>
              <td>
                <%= review.description %><br>
                <% if current_user.name == review.owner %>
                  <%= link_to 'Edit', edit_review_path(review) %>
                  <%= link_to 'Delete', review_path(review), method: :delete %>
                <% end %>
              </td>
              <td>
                <%=link_to review.owner, user_url(review.reviewer) %>
              </td>
            </tr>
          <% end %>
        <!--
          <% @user.items.each do |record| %>
           <tr>
             <td><%= record.title %></td>
             <% if record.settlement %>
               <td><%= record.settlement.review %></td>
               <td><%= record.settlement.buyer.name %></td>
             <% else%>
               <td>Not Sold. Review Unavaible.</td>
               <td>Not Sold. Buyer Unavaible.</td>
             <% end%>
           </tr>
          <% end %>
          -->
         </tbody>

     </table></p>
    <p>
        Have you bought an item from this seller? Please share your experience below:<br><br>
        <%= link_to 'Post Review',post_new_review_path(@user.id), class: 'btn btn-primary' %>
    </p>
  
    </div>
  </div>
</div>
<% else %>
<p>Oops, the user doesn't exist anymore...</p>
 <% end %>
    

</main><!-- /.container -->
