
<% provide(:title, 'User')%>

<main role="main" class="container">
<h1> <%= @user.name%> </h1>
<% if !@user.deleted_at%>
    
<div id="left">
  <%= image_tag("1200px-Memphis_Tigers_logo.svg.png", :size => "240x200", :alt => "Memphis Tiger Logo") %>
    <div id ="button">
      <input type="button" value="Send Message">
    </div>
</div>

<div id="right">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="true">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
        aria-selected="false">Review</a>
    </li>
    
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div>
        <br>
        <p>
            <b>Name:</b> <%= @user.name %>
        </p>
        <p>
            <b>Department:</b> <%= @user.department %>
        </p>
        <p>
            <b>Major:</b> <%= @user.major %>
        </p>  
        <p>
            <b>Email:</b> <%= @user.email %>
        </p>
      </div>
    </div>

    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
      <p><table class="table table-sm">
        <thead>
        <tr>
        <th scope="col">Item</th>
        <th scope="col">Review</th>
				<th scope="col">Buyer</th>
        </tr>
        </thead>
      <tbody>
        <tr>
            <% if !@deals.empty? %>
              <% @deals.each do |record|  %>
                <td><%= record.title %></td>
                <td><%= record.settlement.review %></td>
                <td><%= record.settlement.buyer.name %></td>
              <% end%>
            <% else %>
              <td colspan="3" style="text-align: center">You have not sold any item!</td>
            <% end %>
          </tr>

      </tbody>
     </table></p>
  
    </div>
  </div>
</div>
<% else %>
<p>Oops, the user doesn't exist anymore...</p>
 <% end %>
    
</main><!-- /.container -->