
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-body">
                <div id="signin" class="container tab-pane active"><br>
                    <%= form_tag comment_url method: :post %>
                        <fieldset>
                            <!-- Text input-->
                                
                            <div class="control-group">
                                <label class="control-label" for="userid">Comment:</label>
                                <div class="controls">
                                <%=hidden_field_tag 'item_id[]', @item.id%>
                                <%=hidden_field_tag 'user_id[]', current_user.id%>
                                <%=text_field_tag(:comment_text, value = nil, options = {}) %>
                                    <%# <%= check_box_tag 'id[]', '1',required: "required" %>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="control-group">
                                <label class="control-label" for="signin"></label>
                                <div class="controls" style="text-align: center">
                                    <button id="signin" name="signin" style="width: 200px" class="btn btn-primary">Post</button>
                                </div>
                            </div>
                        </fieldset>
                
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Nav tabs 

-->