<div class="col-md-12 row" style="height: 300px">
    <div class="col-md-3">
        <div>
            <h2> Items for Sale </h2>
        </div>

        <div class='filters', style='border-style: ridge; border-radius: 5px; display: inline-block; float: left; padding: 1em; margin-right: 1em'>
            <p><strong>Search Filters</strong></p>
            <%= form_tag filter_url, method: :get %>
            <p>
                Categories <br>
                <% Category.all.each do |category| %>
                &nbsp &nbsp &nbsp <%= check_box_tag 'categories[]', category.id %> <%= category.description %> <br>
                <% end %>
            </p>
            <%= submit_tag 'Submit' %>
        </div>
    </div>
    <div class="col-md-9" style="height: 600px; overflow-y: scroll !important">
        <% @items.each do |item| %>
            <div class='catalog_items', style='border: 1px ridge #6eadff; display: inline-block; border-radius: 5px; margin-right: .5em; margin-left: .5em; margin-bottom: .5em; padding: 1em'>
                <div style='border: 1px ridge #6eadff; display: inline-block'><%=link_to image_tag(item.photo.url, size: '175x175'), item_path(item)%></div>
                <div style='border: 1px ridge #6eadff; margin-top: 1em'>
                    <%= link_to item.title, item_path(item) %><br>
                    <%= number_to_currency(item.price) %><br>
                    Posted: <%= item.created_at.strftime("%b %d, %Y") %><br>
                    Seller: <%= link_to item.seller.name, user_path(item.seller) %><br>
                    
                </div>
            </div>
            
        <% end %>
    </div>
</div>    
