<h2> Items for Sale </h2>

<div class='filters', style='border-style: ridge; border-radius: 5px; display: inline-block; float: left; padding: 1em; margin-right: 1em'>
    <p><strong>Search Filters</strong></p>
<%= form_tag filter_url, method: :get %>
    <p>
        Categories <br>
        &nbsp &nbsp &nbsp <%= check_box_tag 'categories[]', '1' %>Textbooks <br>
        &nbsp &nbsp &nbsp <%= check_box_tag 'categories[]', '2' %>Electronics <br>
        &nbsp &nbsp &nbsp <%= check_box_tag 'categories[]', '3' %> School Supplies
    </p>
    <%= submit_tag 'Submit' %>
    <p><%= link_to 'Post New Item',post_new_item_path() %>
</div>


    <% @items.each do |item| %>
        <div class='catalog_items', style='border-style: ridge; display: inline-block; border-radius: 5px; margin-right: 1em; margin-left: 1em; margin-bottom: 1em; padding: 1em'>
            <div style='border-style: ridge; display: inline-block'><%=link_to image_tag(item.avatar.url, size: '200x200'), item_path(item)%></div>
            <div style='border-style: ridge; margin-top: 1em'>
                <%= link_to item.title, item_path(item) %><br>
                $<%= item.price %><br>
                Category <%= item.category_id%> <br>
                <%= item.user_id %><br>
                Posted: <%= item.created_at.strftime("%b %d, %Y") %><br>
            </div>
        </div>
        
        
    <% end %>
    
