<main role ="main" class ="container">

<h1>Edit Item </h1>

  <%= form_with model: @item, local:true, html: { multipart: true } do |form| %>
     <div class = "field">
         <%= form.label :image %>
         <%= form.file_field :avatar %>
     </div>

     <div class = "field">
         <%= form.label :title %>
         <%= form.text_field :title, class:'form-control' %>
         <% if @item.errors.full_messages_for(:item).any? %>
           <div class="invalid-feedback">
              <% @item.errors.full_messages_for(:item).each do |error_message| %>
                 <%= error_message %>
              <% end %>
           </div>
         <% end %>
     </div>

     <div class = "field">
         <%= form.label :price %>
         <%= form.text_field :price, class:'form-control' %>
     </div>

     <div class = "field">
         <%= form.label :condition %>
         <%= form.text_field :condition, class:'form-control' %>
     </div>

     <div class = "field">
         <%= form.label :category_id %>
         <%= form.text_field :category_id, class:'form-control' %>
     </div>

     <div class = "field">
         <%= form.label :description %>
         <%= form.text_field :description, class:'form-control' %>
     </div>

     <div class = "field">
         <%= form.label :inactive %>
         <%= form.text_field :inactive, class:'form-control' %>
     </div>

     <div class = "actions">
         <%= form.submit 'Post Item', class: 'btn btn-primary' %>
     </div>
  <% end %>

  <p>
    <%= link_to 'Back',items_path %>
  </p>
</main><!-- /.container -->