<% provide(:title,'SellBackMart - Edit Item')%>

<main role ="main" class ="container">

<h1>Edit Item </h1>

  <%= form_with model: @item, local:true, html: { multipart: true } do |form| %>
     <div class = "field">
         <%= form.label :Upload_a_main_image_for_your_item %><br>
         <%= form.file_field :avatar %>
     </div>

     <% if @item.avatar.exists? %>
       <b>Current main image:</b><br>
       <%= image_tag(@item.avatar.url,size:'150x150') %><br><br>
     <% end %>

     <div class = "field">
         <%= form.label :Upload_additional_photos_of_the_item %><br>
         <%= file_field_tag "images[]", type: :file, multiple: true %>
     </div>

     
      <% if @item.pictures.exists? %>
      <b>Existing photos of item:</b><br>
        <% @item.pictures.each do |photo| %>
            <div style="display:inline-block;">  
              <div class="card", style="width:10rem;padding:0.2rem">
                 <%= image_tag(photo.image.url,size: '150x150') %>
                 <%= link_to 'Delete-Image',picture_path(photo),method: :delete, class: 'btn btn-primary' %>
              </div>
            </div>
        <% end %>
      <% end %>

     <div class = "field">
         <%= form.label :title %>
         <%= form.text_field :title, class:'form-control', required: 'required' %>
     </div>

     <div class = "field">
         <%= form.label :price %>
         <%= form.text_field :price, type: 'number', class:'form-control', required: 'required' %>
     </div>

     <div class = "field">
         <%= form.label :condition %>
         <%= form.text_field :condition, class:'form-control', required: 'required',type: 'number', placeholder:'Enter 0 for used and 1 for almost new' %>
     </div>

     <div class = "field">
         <%= form.label :category_id %>
         <%= form.collection_select :category_id, Category.order(:description), :id,:description, {:prompt=>true}, {:class=>'form-control', :required=>'required'} %>
     </div>

     <div class = "field">
         <%= form.label :description %>
         <%= form.text_field :description, class:'form-control' %>
     </div>

    <div class="form-group">
        <%= form.label :inactive, class: "control-label" %>
        <div class="col-md-4 row"> 
            <label style="margin-right: 8px" class="radio-inline" for="radios-0">Yes</label> 
            <%= form.radio_button :inactive, true, style: "margin-right: 15px" %>
            
            
            <label style="margin-right: 8px" class="radio-inline" for="radios-1">No</label> 
            <%= form.radio_button :inactive, false %>
            
            
            
        </div>
    </div>

    

     <div class = "actions">
         <%= form.submit 'Post Item', class: 'btn btn-primary' %>
     </div>
  <% end %>

  <p>
    <%= link_to 'Back',catalog_path %>
  </p>
</main><!-- /.container -->