<% provide(:title,'SellBackMart - New Item') %>

<main role ="main" class ="container">

<h1>New Item </h1>

  <%= form_with model: @item, local:true, html: { multipart: true } do |form| %>
     <div class = "field">
         <%= form.label :avatar %>
         <%= form.file_field :avatar %>
     </div>

     <div class = "field">
         <%= form.label :photos %>
         <%= file_field_tag "images[]", type: :file, multiple: true %>
     </div>

     <div class = "field">
         <%= form.label :title %>
         <%= form.text_field :title, class:'form-control', required: 'required' %>
     </div>

     <div class = "field">
         <%= form.label :price %>
         <%= form.text_field :price, class:'form-control', required: 'required' %>
     </div>

     <div class = "field">
         <%= form.label :condition %>
         <%= form.text_field :condition, class:'form-control' %>
     </div>

     <div class = "field">
         <%= form.label :category_id %>
         <%= form.collection_select :category_id, Category.order(:description), :id,:description, {:prompt=>true}, {:class=>'form-control', :required=>'required'} %>
     </div>

     <div class = "field">
         <%= form.label :description %>
         <%= form.text_area :description, class:'form-control' %>
     </div>
     <div class = "field" style="display: none">
         <%= form.label :user_id %>
         <%= form.text_field :user_id, value: current_user.id, class:'form-control' %>
     </div>

     <div class = "actions">
         <%= form.submit 'Post Item', class: 'btn btn-primary' %>
     </div>
  <% end %>

  <p>
    <%= link_to 'Back',catalog_path %>
  </p>
</main><!-- /.container -->