<main role="main" style="height: 700px; overflow-y: scroll !important">
<%@seller = User.find(@item.user_id)%>
<h1> <%= @item.title%> </h1>
<div class='flex-container' style='display: flex'>
   
    <% if @item.avatar_file_name != nil%>
        <div class='big photo' style='padding-bottom: 20px'>
            <%= image_tag(@item.avatar.url,size: '300x300') %>
        </div>
    <% end %>
    <% if %>
        <% !current_user.items.include?(@item) %>
        <div class="control-group" style='padding-left: 100px'>
                
                <div class="controls" style="text-align: center">
                    <button id="message_seller" name="message_seller" style="width: 200px;" class="btn btn-primary">Message Seller</button>
                    <br><br><a href="#" data-toggle="modal" data-target="#commentModal" class="btn btn-primary" style="width: 200px;">Post Comment</a>
                    <%= render 'modal_comment' %>
                </div>
        </div>
    <% end %> 
</div>

<% if %>
    <% current_user.items.include?(@item) %>
    <p><%= link_to 'Edit',edit_item_path() %></p>
    <p><%= link_to 'Delete',item_path(@item), method: :delete %></p><br>
<% end %>
<div style="float: left" class="col-md-5">
    <p> <strong>Sold by</strong> - <%= link_to @seller.name, user_url(@seller)%>
    <br> <strong>Price</strong> - <%=number_to_currency(@item.price)%>
    <br> <strong> Category</strong> - <%=@item.category.description%>
    <br> <strong>Condition</strong> - <%=@item.condition%>
    <br> <strong>Description</strong> - <%=@item.description%> </p>
    
</div>
<div class="col-md-6" style="display: inline-block">
   <p style='margin: .5em; text-decoration: underline'> <strong>Comments</strong> </p>
    <% @item.comments.each do |comment| %>
    <%= link_to comment.buyer.name, user_path(comment.buyer)%>: 
    <%= comment.comment_text %> <br><br>
    <% end %>
</div>
</main>